extends layout 

block content 
    h1= title 
    if show
        form(method='post')

            p What programming language is worth learning ?
            ul  
                each item in data 
                    li 
                        label=item.title 
                        input(type='radio' name='quiz' value=item._id)
            input(type="submit" value='Zaglosuj')
            p Vote to see the results !!!
    else    
        h1 You've already voted
        p Results
        ul 
        each item in data 
            li #{item.title} - votes: #{item.vote} (#{Math.round(item.vote/sum*100)}%)
        p The votes have been cast: #{sum}